<mat-list>
  <mat-list-item>
    <img mat-line mat-list-avatar src="https://openclipart.org/image/2400px/svg_to_png/294182/Bearded-Man-Profile.png" alt="profile image">
    <span mat-line>Luis Aviles</span>  
    <span mat-line>Cochabamba</span> 
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar src="https://openclipart.org/image/2400px/svg_to_png/294182/Bearded-Man-Profile.png" alt="profile image">
      <span mat-line>Jorge Perez</span>
      <span mat-line>Lima</span>
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar src="https://openclipart.org/image/2400px/svg_to_png/294182/Bearded-Man-Profile.png" alt="profile image">
      <span mat-line>Maria Rogriguez</span>
      <span mat-line>Bogota</span>
  
  
  </mat-list-item>
 
</mat-list>