<div>
  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Select your Camera" [(ngModel)]="currentCamara">
        <mat-option *ngFor="let camera of cameras" [value]="camera" (click)="onSelectCamera(camera)">
          {{camera}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <mat-card *ngFor="let marsImage of marsImages">
    <mat-card-header>
      <mat-card-title>{{marsImage.camera.full_name}}</mat-card-title>
      <mat-card-subtitle>{{marsImage.earth_date}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="marsImage.img_src">
  </mat-card>
</div>
